[submodule "Git_SubModel"]
	path = Git_SubModel
	url = https://github.com/Asa-gc/Git_SubModel.git
[submodule "3rd/Git_SubModel"]
	path = 3rd/Git_SubModel
	url = https://github.com/Asa-gc/Git_SubModel.git
